.lyrics,
.welcome {
  font-family: "Fira Sans Condensed", sans-serif;
}

.welcome h1 {
  font-size: 97px;
}

.welcome p {
  line-height: 2em;
  margin-bottom: 2em;
}

.title,
.protagonists {
  font-family: "Fira Sans Condensed", sans-serif;
}

.title h1 {
  font-size: 66px;
}

.row p {
  line-height: 0.73em;
  margin-bottom: 0.73em;
}
